.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.card {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}

#updateInput {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
}

.links {
  overflow: hidden;
  background-color: #333;
}

.links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links a:hover {
  background-color: hsl(266, 84%, 63%);
  color: black;
}

.floatToRight {
  float: right;
}